# Support notebook for Basic Protocol 2 
# Select a few samples from a database file

Based on @mhaghigh code

# Import libraries

In [13]:
import pandas as pd
import numpy as np
# from utils.read_data import *
# from utils.visualize_data import *
from functools import reduce
from sklearn.cluster import KMeans
from openpyxl import Workbook, load_workbook
import os
import easygui as eg
from numpy import random
import sqlite3
import pycytominer

## Import database file

- This specific database file is available on cpg0004-lincs. More details to download see https://github.com/broadinstitute/cellpainting-gallery

In [3]:
conn = sqlite3.connect("G:\\My Drive\\Notebooks\\SingleCell_Morphological_Analysis\\SQ00015195.sqlite")

## Define which wells to retrieve from the dataset

In [4]:
well_name = ["A02", "A07", "B07", "D19", "D21", "H13", "J19", "L19"]

channels = ["DNA","ER","RNA","AGP","Mito"]

## Retrieve image numbers from well's names

In [5]:
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res.fetchall():
    print(name[0])

Image
Cells
Cytoplasm
Nuclei

In [6]:
#get the names of each well as a list from well_name
rand_img_num=well_name.copy()

list_str="('"
for i in rand_img_num:
    list_str=list_str+str(i)+"','" 
list_str=list_str[:-2]+")"

print(list_str)

('A02','A07','B07','D19','D21','H13','J19','L19')

In [7]:
#define the name of the well
meta_well_col_str="Image_Metadata_Well"

In [8]:
#create a query with the compartment names to be able to retrieve them from the table
compartment_query = "select * from {} WHERE {} IN {};".\
format("Image",meta_well_col_str,list_str)

In [9]:
#select the metadata and image measurements from the Image table belonging to the wells you want
plateImageDf = pd.read_sql(sql=compartment_query, con=conn)

In [10]:
#get the ImageNumbers for the wells you want
img_nums=plateImageDf.ImageNumber.unique().tolist()

list_str2="("
for i in img_nums:
    list_str2=list_str2+str(i)+',' 
list_str2=list_str2[:-1]+")"

print(list_str2)

(10,11,12,13,14,15,16,17,18,55,56,57,58,59,60,61,62,63,271,272,273,274,275,276,277,278,279,810,811,812,813,814,815,816,817,818,828,829,830,831,832,833,834,835,836,1620,1621,1622,1623,1624,1625,1626,1627,1628,2106,2107,2108,2109,2110,2111,2112,2113,2114,2538,2539,2540,2541,2542,2543,2544,2545,2546)

In [11]:
#from the compartment names, open each table and retrieve information from the images on list_str2
plateDf_list=[]
compartments=["cells", "cytoplasm", "nuclei"]

for compartment in compartments:
    compartment_query = "select * from {} WHERE {} IN {};".format(compartment,"ImageNumber",list_str2)
    plateDf_list.append(pd.read_sql(sql=compartment_query, con=conn))

In [14]:
#create the dataframe from the Df_list 
plateDf = reduce(lambda left,right: pd.merge(left,right,on=["TableNumber", "ImageNumber", "ObjectNumber"]), plateDf_list)

In [15]:
#merge information from Image table with cells data
plateDfwMeta = pd.merge(plateDf, plateImageDf, on=["TableNumber", "ImageNumber"])

In [16]:
#exclude duplicated cols
plateDfwMeta = plateDfwMeta.loc[:,~plateDfwMeta.columns.duplicated()]

In [17]:
#create a copy
df_p_s0 = plateDfwMeta

In [18]:
#take a look at the dataframe
print(df_p_s0.shape)
df_p_s0.head()

(7577, 2442)

,TableNumber,ImageNumber,ObjectNumber,Cells_AreaShape_Area,Cells_AreaShape_Center_X,Cells_AreaShape_Center_Y,Cells_AreaShape_Compactness,Cells_AreaShape_Eccentricity,Cells_AreaShape_EulerNumber,Cells_AreaShape_Extent,...,Image_Width_IllumAGP,Image_Width_IllumDNA,Image_Width_IllumER,Image_Width_IllumMito,Image_Width_IllumRNA,Image_Width_OrigAGP,Image_Width_OrigDNA,Image_Width_OrigER,Image_Width_OrigMito,Image_Width_OrigRNA
0,1240fc906b760746bfaa4913fdb947b6,10,1,7334,642.0,0.0,1.196197,0.732293,1.0,0.622053,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
1,1240fc906b760746bfaa4913fdb947b6,10,2,7084,1952.0,1.0,1.288208,0.865021,1.0,0.572722,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
2,1240fc906b760746bfaa4913fdb947b6,10,3,13696,2159.0,40.0,1.116869,0.632134,1.0,0.689766,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
3,1240fc906b760746bfaa4913fdb947b6,10,4,9814,1123.0,36.0,1.147676,0.773804,1.0,0.702606,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
4,1240fc906b760746bfaa4913fdb947b6,10,5,16297,1672.0,78.0,1.071092,0.708822,1.0,0.691606,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160

## Save selected DataFrame to csv

In [19]:
import pickle
df_p_s0.to_csv("SQ00015195_raw.csv")